<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inspiration</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
	<h1>Inspiration</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/inspiration">Inspiration</a></li>
		</ul>
	</nav>

 
    {{{body}}}
 
</body>
</html>